@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(köpek.jpg);
    height: 100vh;
    background-size: 100% 100%;   
}

h1{
    
    color:rgb(12, 12, 12);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: #b3cfd1;;
    position:absolute;
    top: 15%;
    left:50%;
    transform: translate(-50% ,-50%);
    overflow: hidden;
    border-radius: 44px;
    
}

p{

    color:rgb(12, 12, 12);
    width: 600px;
    padding: 40px;
    text-align: center;
    background: rgb(172, 115, 57);
    position:absolute;
    top: 55%;
    left:50%;
    transform: translate(-50% ,-50%);
    overflow: hidden;
    border-radius: 60px;
    font-size: x-large;
}

a
{
    text-decoration: none;
    color:rgb(12, 12, 12);
    font-size: xx-large;
}